<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
Добро пожаловать в мир учебных возможностей для четвероклассников! Здесь вы найдете интерактивные задания, увлекательные игры и познавательные материалы, специально разработанные для вас. Готовьтесь к захватывающим приключениям в мире знаний и давайте вместе покорять новые вершины образования!

<p>Чтобы начать выполнение заданий, выберите одну из тем:</p>
{% for type in types %}
    <a href="{{ type.get_absolute_url }}">{{ type.title }}</a>
    <br>
{% endfor %}
</body>
</html>