<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>

<body>
    <div class="header__block">
        <div class="header__body">
          <div class="header__logo">Logo</div>
          <nav class="header__menu">
            <ul class="header__list">
                <li class="header__item">
                    <a class="header__link" href="{% url 'main_page' %}">Главная страница</a>
                  </li>
              {% for type in types %}
              <li class="header__item">
                <a class="header__link" href="{{ type.get_absolute_url }}">{{ type.title }}</a>
              </li>
              {% endfor %}
            </ul>
          </nav>
        </div>
      </div>
    <div class="main"></div>

    {% for task in tasks %}
    <form class="form__task" action="{% url 'tasks' current_type %}" method="post">
        {% csrf_token %}
        {{ task.condition }}
        {% for key, value in answers.items %}
        {% if key == task.pk %}
        {% if value %}
        Успешно выполнено!
        {% else %}
        Неверно!
        {% endif %}
        {% endif %}
        {% endfor %}
        {% if answers %}
        <input type="hidden" name="answers" value="{{ answers }}">
        {% endif %}
        <input type="number" name="{{ task.pk }}" value="-">
        <button class="btn" type="submit">Ответить</button>
    </form>
    {% endfor %}
</body>

</html>